[submodule "mudi/repos/anndata2ri"]
	path = mudi/repos/anndata2ri
	url = https://github.com/theislab/anndata2ri.git
[submodule "mudi/repos/SignatureAnalyzer-GPU"]
	path = mudi/repos/SignatureAnalyzer-GPU
	url = https://github.com/broadinstitute/SignatureAnalyzer-GPU.git
